.left-side-wrapper {
  border-radius: 10px;
  background-color: #f6ddb6;
  padding: 1em;
  padding-top: 3em;
  .info-buttons {
    height: 2em;
    display: flex;
    justify-content: space-around;
    margin-top: -3.9em;
    margin-bottom: 3em;
    .info-button {
      width: 6em;
      border-radius: 10px;
      display: flex;
      background-color: white;
      span {
        margin: 0 auto;
        align-self: flex-end;
        font-size: 0.7em;
      }
    }
  }
  .active {
    color: red;
  }
  .letf-side-item {
    height: 100%;
    min-height: 3.5em;
    margin-bottom: 10px;
    input {
      height: 2em;
    }
    label {
      font-size: 0.6em;
      text-transform: uppercase;
    }
    select {
      display: block;
    }
  }
  .submit-button-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
  .submit-button {
    width: 6em;
    height: 2em;
    border-radius: 5px;
    background-color: #76db98;
  }
  .error-indicator {
    color: red;
  }
}
